.order-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f3f6;
  min-height: 100vh;
}
.order-history .container {
  width: 50%;
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px 2px #0d0d0d09;
}
