.homepage__nav {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #131921;
}
.homepage__nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.homepage__nav-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}
.homepage__nav-brand {
  text-decoration: none;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homepage__nav-brand > a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  width: 150px;
}
.homepage__nav-brand img {
  width: 100%;
  vertical-align: middle;
}

.homepage__nav-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.homepage__nav-items > li {
  margin: 0;
  font-size: 19px;
}

.homepage__nav-items > li > a {
  color: #0d0d0d;
  text-decoration: none;
  font-size: 18px;
  padding: 0.5rem 1rem;
}
.homepage__nav-item {
  position: relative;
}
.homepage__nav-item::after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #0d0d0d;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 100ms;
}

.homepage__nav-item:hover::after {
  transform: scaleX(1);
}
.homepage__nav-login-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #131921;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.homepage__nav-signup-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #131921;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem 2rem;
}
.homepage__nav-signup-outline-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.navbar-menu {
  display: none;
  cursor: pointer;
}
.navbar-close {
  display: none;
  cursor: pointer;
}
.homepage__nav-search-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
  flex: 4;
}
.homepage__nav-search-input {
  width: 100%;
  padding: 1rem;
  height: 45px;
  border-radius: 2rem;
  border: none;
}
.homepage__nav-search-input:focus {
  border: none;
  outline: none;
}
.dashboard__top-nav-menu-profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}
.dashboard_profile-popout {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  top: 100%;
  width: 250px;
  right: 0;
  margin-top: 1rem;
  box-shadow: 0 0 3px 3px #0f0f0f1d;
  z-index: 99;
}
.dashboard_profile-popout-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 100ms;
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.dashboard_profile-popout-item:hover {
  background-color: #e0e0e0;
}
.dashboard_profile-logout-btn {
  margin: 1rem 0rem;
  padding: 0.2rem 0.7rem;
}
.dashboard__top-nav-menu-profile-card-name {
  width: 100%;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
}
