.chatbox {
  margin: 4rem;
}

.chatbox > .wrapper {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.057);
  border-radius: 1rem;
  transition: all 0.5s;
}

.chatbox .div1 {
  opacity: 1;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 1rem 2rem;
  transition: all 0.5s;
}

.chatbox .div2 {
  opacity: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  color: black;
  transition: all 0.5s;
}

.chatbox .hidden {
  opacity: 0;
  display: none;
}

.chatbox .hidden {
  opacity: 0;
  display: none;
}

.chatbox .btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  padding: 1rem;
  background-color: black;
  width: 200px;
  color: white;
  border-radius: 3rem;
  font-weight: bold;
}

.chatbox .div2 .wrapper {
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0.5rem 2rem;
  align-items: center;
}

.chatbox .div2 .wrapper > img {
  height: 40px;
  width: 40px;
}

.chatbox .chat-wrapper {
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.chat-system {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: auto;
  gap: 0.5rem;
}
.chat-system > img {
  width: 30px;
  height: 30px;
}
.chat-system .message {
  height: auto;
  width: fit-content;
  max-width: 50%;
  color: black;
  background-color: #dcdcdc;
  /* color: white;
  background-color: #131921; */
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: start;
}
.chat-system .result {
  font-weight: bold;
  color: white;
  font-size: 18px;
  background-color: #f8981d;
  box-shadow: 0px 0px 10px 4px #fcdb3681;
}

.chat-not-system {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: auto;
  width: auto;
  gap: 0.5rem;
}
.chat-not-system > img {
  width: 30px;
  height: 30px;
}
.chat-not-system .message {
  height: auto;
  width: fit-content;
  max-width: 50%;
  color: black;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: end;
}

.chatbox .chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatbox .chat-input {
  margin: 0rem 1rem;
  padding: 1rem;
}
.chatbox .chat-input > input {
  flex: 5;
  padding: 1rem 1rem;
  border-radius: 12px;
  border: none;
  outline: solid 0.5px rgb(118, 118, 118);
  transition: all 75ms;
  font-size: 16px;
}

.chatbox .chat-input > input:focus {
  border: none;
  outline: solid 3px #0d0d0d;
}

.chatbox .chat-input img {
  width: 100%;
  height: 100%;
}

.chatbox .send-btn {
  margin: 0rem 1rem;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #f8981d;
  cursor: pointer;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.chat-products-list {
  width: 100%;
  display: flex;
  flex-direction: rowb;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-product {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1px 1px #cccccc4a;
  overflow: hidden;
  cursor: pointer;
  gap: 2rem;
  position: relative;
  padding: 1rem;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: white;
  min-width: 150px;
}
.chat-product .image {
  width: 100%;
  overflow: hidden;
}
.chat-product .prime {
  width: 50px;
}

.chat-product .image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chat-product .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-product .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.chat-product .price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.chat-product .description {
  max-height: 75px;
  max-width: 800px;
  text-overflow: ellipsis;
}
.chat-product .date {
  font-weight: lighter;
  font-size: 10px;
}
.chat-product .fassured {
  width: 75px;
  height: 20px;
}
.chat-product .row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.chat-product .link {
  color: #131921;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.chat-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  margin: 0.5rem 1rem;
}

.chat-button-list .chat-button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #f8981d;
  color: white;
  cursor: pointer;
}
